body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f3f4f6;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.botones {
    display: flex;
    justify-content: center;
}

.botones button,
input[type='submit'] {
    text-transform: uppercase;
    width: 80%;
    padding: 0.6rem;
    background-color: #0ea5e9;
    font-weight: bold;
    color: white;
    border-style: none;
    border-radius: 10px;
    transition: background-color 300ms;
    margin-top: 0.5rem;
}

.botones button:hover,
input[type='submit']:hover {
    cursor: pointer;
    background-color: #0284c7;
}

.titulo-login {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin: 0;
    padding-top: 1rem;
    border-radius: 1.5rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    color: white;
    background-color: #0ea5e9;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.crear-cuenta {
    color: #6b7280;
    text-align: center;
    font-size: 1rem;
    display: block;
    margin-top: 1rem;
    text-decoration: none;
    margin: 1.5rem 0;
}

/* alerta para mostrar mensajes al usuario*/
.alerta {
    text-align: center;

    margin-top: 1rem;
    padding: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    width: 100%;
}

.alerta-error {
    background-color: #d11111;
}

.alerta-exito {
    background-color: #239c05;
}

.header {
    padding: 16px 20px;
    /* border-bottom: 1px solid #ccc; */
    background-color: #fff;
}

.header h2 {
    text-align: center;
    font-weight: bold;
    color: #0ea5e9;
}

.header p {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
.header__contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header button {
    color: #fff;
    background-color: #0ea5e9;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px;
    border: none;
    border-radius: 0.5rem;
    transition: background-color 300ms;
}

.header button:hover {
    background-color: #0284c7;
    cursor: pointer;
}

.flex-layout {
    display: flex;
}
@media (min-width: 768px) {
    .flex-layout {
        min-height: 100vh;
    }
}

.aside {
    width: 320px;
    padding: 40px 20px;
    background-color: #fff;
}

.aside p {
    font-weight: bold;
    font-size: 20px;
    margin-top: 0;
    text-transform: uppercase;
}
.aside__enlaces {
    color: #fff;
    background-color: #0ea5e9;
    padding: 12px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    border-radius: 0.5rem;
    display: block;
    width: 100%;
    margin-top: 20px;
    transition: background-color 300ms;
}

.aside__enlaces:hover {
    background-color: #0284c7;
    cursor: pointer;
}

.principal {
    flex: 1;
    padding: 40px;
}

.formulario-calorias {
    padding: 1rem;
    background-color: #fff;
    width: auto;
}

@media (min-width: 996px) {
    .formulario-calorias {
        width: 40%;
        height: 25rem;
        margin: 0 auto;
    }
}

.titulo-caloria {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.calorias {
    background-color: #fff;
    padding: 2rem;
    margin-top: 5px;
    text-transform: uppercase;
    border-radius: 0.5rem;
}

.calorias-titulo {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
}
.calorias p > span {
    font-weight: bold;
}

.sin-calorias {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
    font-size: x-large;
}

.scroll {
    height: 30rem;
    overflow-y: scroll;
}
